/* FIRST CONTAINER */

.welcome{
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.welcome h2{
  color: white;
  font-weight: lighter;
  margin: 0;
}

/* SECOND CONTAINER */

.main-content{
  height: 100vh;
  padding: 10px 10%;
  position: relative;
}

.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
}

.who-section{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.who-section p{
  font-size: 16px;
}

.what-section{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.know-section{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

/* LAST CONTAINER */

.footer{
  height: 100vh;
  padding: 10px 10%;
  position: relative;
}


/* Other stuff */

.arrow{
  color: white;
  position: absolute;
  font-size: 40px;
  font-weight: lighter;
  bottom: 0;
  left: calc(50% - 20px);
}

/* MEDIA QUERIES */

@media (max-width: 992px){
  .main-content{
    height: 130vh;
  }
}

@media (max-width: 768px){
  .welcome{
    display: none;
  }

  .main-content{
    padding-top: 80px;
    height: 170vh;
  }

  .footer{
    height: 110vh;
  }

  .grid{
    display: block;
  }

  .arrow{
    display: none;
  }
}

@media (max-width: 500px){
  .main-content{
    padding-top: 100px;
    height: 225vh;
  }

  .footer{
    height: 150vh;
  }
}


