/* FIRST CONTAINER */

.welcome{
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.welcome h2{
  color: white;
  font-weight: lighter;
  margin: 0;
}

/* LAST CONTAINER */

.footer{
  height: 100vh;
  padding: 10px 10%;
  position: relative;
}


/* Other stuff */

.arrow{
  color: white;
  position: absolute;
  font-size: 40px;
  font-weight: lighter;
  bottom: 0;
  left: calc(50% - 20px);
}

/* MEDIA QUERIES */
@media (max-width: 1120px){
  .arrow2 {
    display: none;
  }
}


@media (max-width: 968px){
  .main-content{
    height: 120vh;
  }
}

@media (max-width: 768px){
  .welcome{
    display: none;
  }

  .main-content{
    padding-top: 100px;
    height: 150vh;
  }

  .footer{
    height: 110vh;
  }

  .grid{
    display: block;
  }

  .arrow{
    display: none;
  }
}

@media (max-width: 620px){
  .main-content{
    padding-top: 100px;
    height: 170vh;
  }
}

@media (max-width: 525px){
  .main-content{
    padding-top: 100px;
    height: 200vh;
  }

  .footer{
    height: 150vh;
  }
}

@media (max-width: 425px){
  .main-content{
    padding-top: 100px;
    height: 220vh;
  }

  .footer{
    height: 180vh;
  }
}
