.banner{
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(-255deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../images/background.jpg');
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 10px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  position: relative;
}

.banner-content{
  color: white;
  text-align: center;
}

.banner-content h1{
  font-size: 72px;
  margin-bottom: 0;
}

.banner-content h2{
  margin-top: 0;
  padding: 20px 0 90px 0;
  font-weight: lighter;
}

.banner-content a{
  text-decoration: none;
}

.profile-img-lg{
  position: absolute;
  bottom: -110px;
  left: calc(50% - 110px);
}

@media (max-width: 875px){
  .banner-content h1{
    font-size: 66px;
  }
}


@media (max-width: 500px){
  .banner-content h1{
    font-size: 60px;
  }
}

@media (max-width: 400px){
  .banner{
    height: 40vh;
  }

  .banner-content h1{
    font-size: 40px;
  }

  .banner-content h2{
    font-size: 20px;
  }

  .profile-img-lg{
    bottom: -85px;
    left: calc(50% - 85px);
  }
}
