.navbar{
  height: 100%;
  width: 60px;
  padding: 10px;
  background-color: black;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar-list{
  margin: 0;
}

.secret-icon{
  display: flex;
  flex-direction: column-reverse;
}
